@model EntityLayer.Concrete.ToDoList
@{
    ViewData["Title"] = "AddToDoList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddToDoList", "ToDoListPanel", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Görev Ekleme Paneli</h4>
                <br />
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Görev</label>
                        <input type="text" class="form-control" name="Content">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

