@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Yeni Hesap Ekleme Paneli</h4>
                <br />
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" class="form-control" name="Url">
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        <select typeof="text" class="form-control" name="Icon">
                            <option value="fab fa-twitter">Twitter</option>
                            <option value="fab fa-youtube">Youtube</option>
                            <option value="fab fa-facebook">Facebook</option>
                            <option value="fab fa-linkedin">LinkedIn</option>
                            <option value="fab fa-instagram">Instagram</option>
                            <option value="fab fa-hackerrank">HackerRank</option>
                            <option value="fab fa-github">GitHub</option>
                            <option value="fab fa-medium">Medium</option>
                            <option value="fab fa-whatsapp">WhatsApp</option>
                            <option value="fab fa-snapchat">Snapchat</option>
                            <option value="fab fa-pinterest">Pinterest</option>
                            <option value="fab fa-telegram-plane">Telegram</option>
                            <option value="fab fa-reddit-alien">Reddit</option>
                            <option value="fab fa-stack-overflow">Stack Overflow</option>
                            <option value="fab fa-dev">Dev.to</option>
                            <option value="fab fa-slack-hash">Hashnode</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

